@*@model CarRentalMS.DataAccess.Car*@
@model CarRentalMS.ViewModels.CarViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Add New Car</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label" })
                <span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g Perodua Viva", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                <span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g Gelugor" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.PricePerDay, htmlAttributes: new { @class = "control-label" })
                <span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PricePerDay, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g 85.00" } })
                @Html.ValidationMessageFor(model => model.PricePerDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-check">
            @{
                bool check = false;
                if (TempData["Checkbox"] != null)
                {
                    check = true;
                }
            }
            @Html.CheckBox("AddAnotherCheckbox",check, new { @id = "AddAnotherCheckbox" })
            <label class="form-check-label" for="AddAnotherCheckbox">Add another after submit.</label>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-success btn-inside-options toastSuccess" />
                @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-outline-info btn-inside-options btn-back-list" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
