@model CarRentalMS.ViewModels.CarViewModel

@{
    Layout = null;
}
<div>
    @Html.HiddenFor(model => model.Id)

    <h4>Are you sure you want to delete this?</h4>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group text-right">
            <div>
                <input type="submit" value="Delete" class="btn btn-danger btn-inside-options" />
                <a onclick="BackToList()" class="btn btn-outline-info btn-inside-options btn-back-list">Back to List</a>
            </div>
        </div>
    }

</div>

<script>
    var BackToList = function () {
        $("#myModal").modal("hide");
    }
</script>