@model CarRentalMS.ViewModels.CarViewModel

@{
    Layout = null;
}

<div>
    @Html.HiddenFor(model => model.Id)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-inside-options" })
    }
    else
    {
        //book now
        <a href="#" class="btn btn-primary btn-inside-options">Book Now</a>
    }
    <a onclick="BackToList()" class="btn btn-outline-info btn-inside-options btn-back-list">Back to List</a>
</p>

<script>
    var BackToList = function () {
        $("#myModal").modal("hide");
    }
</script>

