@model IEnumerable<CarRentalMS.DataAcess.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">List of Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var countData = 0;

            if (Model.Count() == 0)
            {
                <tr class="text-center">
                    <td colspan="5">No Cars</td>
                </tr>
            }

            foreach (var item in Model)
            {
                string rowColor;
                if (countData % 2 == 0)
                {
                    rowColor = "table-light";
                }
                else
                {
                    rowColor = "table-primary";
                }
                <tr class=@rowColor>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        RM @String.Format("{0:0.00}", item.PricePerDay)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                countData++;
            }

        }

    </tbody>

</table>
