@using PagedList;
@using PagedList.Mvc;

@model IPagedList<CarRentalMS.DataAcess.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">List of Cars</h2>

<div class="container">
    @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
    {
        <div class="row">
            <div class="row col">
                <div class="form-group">
                    @Html.TextBox("SearchLocation", null, new { @class = "form-control", @placeholder = "e.g Gelugor" })
                </div>
                <div class="form-group">
                    @Html.TextBox("SearchCarModel", null, new { @class = "form-control", @placeholder = "e.g Perodua Viva" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-info btn-search-car" />
                </div>
            </div>

            <div class="form-group col-3">
                @Html.ActionLink("Add Car", "Create", new { area = "" }, new { @class = "btn btn-primary float-right" })
            </div>
        </div>
    }
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Car Model")
            </th>
            <th>
                @Html.DisplayName("Pickup Location")
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var countData = 0;

            if (Model.Count() == 0)
            {
                <tr class="text-center">
                    <td colspan="5">No Cars</td>
                </tr>
            }

            foreach (var item in Model)
            {
                string rowColor;
                if (countData % 2 == 0)
                {
                    rowColor = "table-light";
                }
                else
                {
                    rowColor = "table-primary";
                }
                <tr class=@rowColor>
                    <td style="width: 7%">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td style="width: 23%">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-options" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-options" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-options" })
                    </td>
                </tr>
                countData++;
            }

        }

    </tbody>

</table>

<div>
    @Html.PagedListPager(
        Model,
        page => Url.Action(
            "Index",
            new
            {
                page,
                SearchCarModel = Request.QueryString["SearchCarModel"],
                SearchLocation = Request.QueryString["SearchLocation"]
            }
        ),
        new PagedListRenderOptions()
        {
            UlElementClasses= new[] {"pagination"},
            LiElementClasses= new[] {"page-item","page-link"},
        })
        }
    )
</div>
