@model CarRentalMS.ViewModels.CompanyViewModel

@{
    Layout = null;
}

<div>
    @Html.HiddenFor(model => model.CompanyId)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
    </dl>
</div>
<p>
        <a class="btn btn-warning btn-inside-options" onclick="GoEditCompany(@Model.CompanyId)">Edit</a>
    <a onclick="BackToList()" class="btn btn-outline-info btn-inside-options btn-back-list">Back to List</a>
</p>

<script>
    var BackToList = function () {
        $("#myModal").modal("hide");
    }

    var GoEditCompany = function (companyId) {
        $("#myModal").modal("hide");
        document.getElementById('modal-title').innerHTML = "Edit Company";
        var url = "Company/Edit/" + companyId;
        var delayInMilliseconds = 500; //0.5 second

        setTimeout(function () {
            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal();
            })
        }, delayInMilliseconds);

    }
</script>

