<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @* DataTable *@
    <link href="~/Content/DataTable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTable/dataTables.bootstrap4.min.js "></script>

    @* Toastr *@
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />

    @* Font Awesome Icons *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Car Rental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item active loading">@Html.ActionLink("Cars", "Index", "Cars", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
            <div class="dropdown-divider"></div>
            <div class="dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="dropdown-toggle nav-link" style="color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Welcome @User.Identity.Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Logout", "Account")" data-toggle="tooltip" data-placement="top" title="Edit" class="nav-link text-dark"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-success text-white"><i class="fas fa-sign-in-alt"></i> Log In</a>
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car Rental</p>
        </footer>
    </div>

    <!-- Loading Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="text-align:center;">
                        <img src="~/Content/Images/CarSpinning.gif" />
                        <p>Loading... Please Wait.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".loading").click(function () {
            $("#exampleModal").modal("show");
            $.ajax({
                success: function () {
                    $("#exampleModal").modal("hide");
                }
            })
        });
    </script>

    @if (TempData["msgSuccess"] != null)
    {
        <script>
            toastr.options = {
                "timeOut": "3000",
                "progressBar": true,
                "positionClass": "toast-bottom-right",
            }
            toastr.success("@TempData["msgSuccess"]" + " successfully.");
        </script>

    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
